.header{height: 100px;box-shadow: 3px 3px 5px 0 #e1e1e1}
.resLogo {display:block; float:left; width:160px; height:50px; margin:24px 0 0 0; background:url("../images/resicon1_03.png") no-repeat left top;}
.header .header_left{float:left;height:34px;line-height:34px;font-size:18px;color:#000;border-left:solid 1px #bbb;margin-left:25px;padding-left:25px;margin-top:34px}
.header .header_right{font-size: 16px;  float: right;  margin-top: 55px;color: #999;}
.c110{width: 1214px;margin: 0 auto;}
.container .main{margin: 50px auto 60px; width: 830px}
.resForm {float:left; width:400px;}
.main .form_item{ position: relative; border: solid 1px #ddd;  width: 398px;  height: 52px; margin-bottom: 40px;}
.main .form_item.error{border-color: red;}
.main .form_item label{ float: left; width: 90px;  height: 52px;  line-height: 52px;  padding-left: 20px;}
.main .form_item input{ border: 0 none;  font-size: 14px;  width: 190px;  height: 19px;  padding-bottom: 11px;  padding-left: 20px;  padding-top: 16px;}
.main .form_item i{background: url("../images/resicon.png") no-repeat;}
.main .form_item .icon { display: none;  width: 16px;height: 16px;  background-position: 0 -17px;  position: absolute;  top: 20px;  right: 20px;  }
.main .form_item .iconAll{ display: block;}
.main .form_item span.i_def{ clear: both;  display: none;  color: #c5c5c5;  height: 27px;  font-size: 12px;  padding-top: 5px;}
.main .form_item span.showS{display: block}
.main .form_item span.i_def i {display: inline-block;  width: 16px;height: 16px;  vertical-align: text-top;  margin-right: 8px;  background-position: 0 0; }
.main .form_item span.i_error{color: red; display: block}
.main .form_item span.i_error i{background-position: -17px 0;  }
.main .form_item p{background:#fff;z-index:2;-webkit-user-select:none;position: absolute;right: 0;height:52px;width: 100px;top:0;line-height: 52px;text-align: center;font-size: 30px;font-style: italic;color: lightcoral;cursor: pointer }
.res-btn {width:100%; height:54px; text-align: center; line-height: 54px; background:#e22; font-size:16px; color:#fff;}
.regRight {float:left;margin:0 0 0 104px; padding:285px 0 0 90px; width:218px; height:320px; border-left:1px solid #e6e6e6; background:url("../images/resbg.jpg") no-repeat 90px top;}
.regRight div {height:30px;margin:30px 0 30px 28px; padding:0 0 0 50px; color:#666;}
.regRight div.first {background:url("../images/resIcon_02.gif") no-repeat left center;}
.regRight div.last {background:url("../images/resIcon_04.png") no-repeat left center;}
.regRight div:hover {color:#000;}

/*footer*/
.footer {clear:both;border-top: 1px solid #E5E5E5;padding: 20px 0 30px;text-align: center;}
.link a {display:inline-block; margin: 0 10px;}
.copyright {margin:10px 0;}
.copyright img {display:inline-block;}
.authentication {width:678px; margin:0 auto;}
.authentication a {display:inline-block;float:left;margin: 0 5px;}